@media (max-width: 650px) {
.container {
  padding: 0 50px;
}
a {
  padding: 10px;
  font-size: 18px;
  height: 30px;
}

a img {
  width: 30px;
  height: 30px;
}
}

@media (max-width: 425px) {
  .container {
    padding: 0 5px;
  }
  a {
    padding: 10px;
    font-size: 18px;
    height: 30px;
  }

  a img {
    width: 30px;
    height: 30px;
  }
  }
