  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Light"),
      url("../fonts/Montserrat-Light.woff2") format("woff2"),
      url("../fonts/Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"),
      url("../fonts/Montserrat-Regular.woff2") format("woff2"),
      url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Medium"),
      url("../fonts/Montserrat-Medium.woff2") format("woff2"),
      url("../fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat-SemiBold"),
      url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
      url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Bold"),
      url("../fonts/Montserrat-Bold.woff2") format("woff2"),
      url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat-ExtraBold"),
      url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
      url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  :root {
    /* btn */
    --color-btn-border-base: #FF9900;
    --color-btn-text: #fff;

    /* text */
    --color-text-base: #000;

    /* line */
    --color-line-focus: #FF9900;
    --color-line-active: #E1670E;

    /* svg search */
    --color-border-search-base: #000;
    --color-border-search-focus: #000;
    --color-border-search-hover: #FF9900;
    --color-border-search-active: #FF9900;

    /* btn hero */
    --fill-btn-hero-base: #FF9900;
    --fill-btn-hero-focus: #FFB84D;
    --fill-btn-hero-hover: #FFB84D;
    --fill-btn-hero-active: #E1670E;

    /* btn about */
    --fill-btn-about-base: transparent;
    --fill-btn-about-focus: #FF9900;
    --fill-btn-about-hover: #FF9900;
    --fill-btn-about-active: #E1670E;

    /* bullet */
    --fill-bullet-base: #FFF;
    --fill-bullet-active: rgba(255, 255, 255, 0.4);

    /* gap */
    --gap-section: 50px;
    --gap: 32px;

    /* block-radius */
    --block-radius: 32px;

    /* step */
    --color-step-base: #000;
    --color-step-focus: #000;
    --color-step-hover: #FF9900;
    --color-step-active: #E1670E;

    /* btn-more */
    --fill-btn-more-base: #FF9900;
    --fill-btn-more-focus: #FFB84D;
    --fill-btn-more-hover: #FFB84D;
    --fill-btn-more-active: #E1670E;

    /* btn-treaty */
    --color-btn-treaty-base: #000;
    --fill-btn-treaty-base: transparent;
    --fill-btn-treaty-focus: #666;
    --fill-btn-treaty-hover: #666;
    --fill-btn-treaty-active: #000;

    /* faq */
    --color-faq-icon-base: #666;
    --color-faq-icon-focus: #fff;
    --color-faq-icon-hover: #fff;
    --color-faq-icon-active: #666;
    --fill-faq-icon-base: #ECECEC;
    --fill-faq-icon-focus: #FF9900;
    --fill-faq-icon-hover: #FF9900;
    --fill-faq-icon-active: #CACACA;

    /* footer */
    --color-footer-link-base: #CACACA;
    --color-footer-link-focus: #CACACA;
    --color-footer-link-hover: #FF9900;
    --color-footer-link-active: #E1670E;
    --color-footer-social-all: #fff;
    --fill-footer-social-base: #666;
    --fill-footer-social-focus: #666;
    --fill-footer-social-hover: #FF9900;
    --fill-footer-social-active: #E1670E;

    /* input */
    --fill-input-base: #414141;
    --fill-input-focus: #666;
    --fill-input-hover: #666;
    --fill-input-active: #666;
    --color-input-base: #CACACA;
    --color-input-focus: #CACACA;
    --color-input-hover: #CACACA;
    --color-input-active: #FFF;

    /* input-btn */
    --fill-input-btn-base: #FF9900;
    --fill-input-btn-focus: #FFB84D;
    --fill-input-btn-hover: #FFB84D;
    --fill-input-btn-active: #E1670E;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
  }

  body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: #fff;
  }

  .wrapper {
    min-height: 100%;
    overflow: hidden;
  }

  .container {
    min-width: 320px;
    margin: 0 auto;
    /* outline: 1px solid black; */
    padding: 0 75px;
  }

  a {
    color: inherit;
    text-decoration: none;
    flex-grow: 0;
    padding: 0;
    outline: none;
    border: none;
  }

  input {
    outline: none;
    border: none;
  }

  img {
    max-width: 100%;
    vertical-align: top;
  }

  ._ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  h1,
  h2,
  h3,
  p {
    margin: 0;
  }

  button {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  button:active, button:focus {
    outline: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .btn-all {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    border: none;
    border-radius: 16px;
    font-weight: 700;
    font-size: 16px;
  }

  .flex {
    display: flex;
  }

  .block {
    display: block;
  }

  .section-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58.5px;
    color: #000;
  }

  .section-sub-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #000000;
    letter-spacing: 0em;
  }

  .section-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000;
  }

  /* ******** header ******** */


  .burger {
    cursor: pointer;
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
    flex-shrink: 0;
    z-index: 10;
  }

  .burger__line {
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: #000;
    transition: background-color 1s linear;
  }

  .burger__line:nth-child(1) {
    top: 0;
  }

  .burger__line:nth-child(3) {
    bottom: 0;
  }

  .burger__line:nth-child(2) {
    top: calc(50% - 1.5px);
  }

  .burger:focus .burger__line {
    background-color: var(--color-btn-border-base);
  }

  .header {
    width: 100%;
    margin-bottom: var(--gap-section);
  }

  .header__container {
    position: relative;
    width: 100%;
    min-height: 100px;
    border-radius: 0px 0px 32px 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
  }

  .header__secret-1 {
    width: 553px;
    min-height: 100%;
    flex-grow: 1;
    /* outline: 1px solid red; */
  }

  .header__secret-2 {
    width: 260px;
    min-height: 100%;
    flex-grow: 1;
    /* outline: 1px solid red; */
  }

  .header__logo {
    width: 225px;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    /* outline: 1px solid red; */
  }

  .header__logo:focus {
    outline: 1px solid var(--color-btn-border-base);
  }

  .header__logo-img {
    position: relative;
    height: 100%;
    width: calc(38.12 * 100% / 225);
    /* outline: 1px solid blue; */

  }

  .header__logo-text {
    position: relative;
    width: calc(173.63 * 100% / 225);
    height: calc(42.67 * 100% / 72);
    /* outline: solid 1px red; */
  }

  /* nav */
  .nav__list {
    min-width: 708px;
    flex-wrap: wrap;
    padding: 10px 0;
  }

  .nav__item {
    outline: none;
    color: var(--color-text-base);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* outline: none; */
    transition: color 0.2s linear;
  }

  .nav__item:not(:last-child) {
    padding: 10px 85px 10px 0;
  }

  .nav__item:last-child {
    padding: 10px 0;
  }

  .nav__link {
    position: relative;
    outline: none;
  }

  .nav__link::before {
    cursor: pointer;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-line-focus);
    transform: scaleX(0);
    transition: transform 0.2s linear, background-color 0.2s linear;
  }

  .nav__link::after {
    cursor: pointer;
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid var(--color-line-focus);
    outline: none;
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  .nav__link:focus::after {
    opacity: 1;
  }

  .nav__link:hover::before {
    transform: scaleX(1);
  }

  .nav__link:active {
    color: var(--color-line-active);
  }

  .nav__link:active::before {
    transform: scaleX(1);
    background-color: var(--color-line-active);
  }

  .nav__link:active::after {
    opacity: 0;
  }

  /* search */

  .header__search {
    outline: none;
    position: relative;
    margin-left: 14px;
    stroke: var(--color-border-search-base);
    transition: stroke 0.2s linear, color 0.2s linear;
    z-index: 10;
  }

  .header__search--click {
    outline: none;
    position: relative;
    margin-left: 14px;
    stroke: var(--color-border-search-active);
    color: var(--color-border-search-base);
    transition: stroke 0.2s linear, color 0.2s linear;
    z-index: 12;

  }

  .header__search::after {
    cursor: pointer;
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: 0;
    border: 2px solid var(--color-line-focus);
    outline: none;
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  .header__search-active {
    position: absolute;
    justify-content: space-between;
    right: 30px;
    background-color: #fff;
    flex-shrink: 0;
    width: 539px;
    height: 60px;
    border-radius: 24px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    align-items: center;
    visibility: hidden;
    transform: translatex(120%);
    transition: visibility 0.1s ease-in-out, transform 0.7s ease-in-out;
  }

  .header__search-active-enabled {
    visibility: visible;
    transform: none;
    z-index: 11;
  }

  .header__search:hover {
    stroke: var(--color-border-search-hover);
    color: var(--color-border-search-base);
  }

  .header__search:focus::after {
    opacity: 1;
  }

  .header__search:active {
    stroke: var(--color-border-search-active);
    color: var(--color-border-search-base);
  }

  .header__search:active::after {
    opacity: 0;
  }

  .header__search-input {
    width: 412px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-bottom: 1px solid #CACACA;
    color: #CACACA;
    margin-left: 32px;
  }

  .header__search-input:focus {
    border: 1px solid var(--color-border-search-active);
    border-radius: 10px;
    color: #000;
  }

  .header__search-closed {
    width: 24px;
    height: 24px;
    margin-right: 7px;
    border: 2px solid #CACACA;
    border-radius: 50%;
    transform: translate(0, -2px);
  }

  .closed-line {
    position: absolute;
    cursor: pointer;
    left: calc(25% - 1px);
    top: calc(50% - 1px);
    width: 12px;
    height: 2px;
    background-color: #CACACA;
  }

  .header__search-closed::after {
    cursor: pointer;
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: 2px solid var(--color-line-focus);
    outline: none;
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  .closed-line:nth-child(1) {
    transform: rotate(45deg);
  }

  .closed-line:nth-child(2) {
    transform: rotate(-45deg);
  }

  .header__search-closed:hover {
    border-color: var(--fill-input-btn-base);
  }

  .header__search-closed:hover .closed-line {
    background-color: var(--fill-input-btn-base);
  }

  .header__search-closed:focus::after {
    opacity: 1;
  }

  .header__search-closed:active {
    border-color: #000;
  }

  .header__search-closed:active .closed-line {
    background-color: #000;
  }

  .header__search-closed:active::after {
    opacity: 0;
  }


  /* hero */
  .hero {
    width: 100%;
    margin-bottom: var(--gap-section);
  }

  .hero__container {
    width: 100%;
    min-height: 620px;
    color: #fff;
  }

  .hero__body {
    position: absolute;
    z-index: 10;
    width: 917px;
    min-height: 620px;
    padding: 100px 0 100px 80px;
    flex-direction: column;
    /* outline: 2px solid rgb(3, 3, 51); */
  }


  .swiper {
    height: 100%;
    border-radius: var(--block-radius);
  }


  .hero__swiper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }



  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 25px;
  }


  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: var(--fill-bullet-base);
    margin: 0 9px;
    width: 15px;
    height: 15px;
  }

  .hero__title {
    font-weight: 800;
    font-size: 70px;
    line-height: 85.5px;
    margin-bottom: 24px;
    color: inherit;
  }

  .hero__descr {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    flex: 1 1 auto;
    color: inherit;
  }

  .hero__btn {
    padding: 25px 39px;
    color: inherit;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    align-self: flex-start;
    background-color: var(--fill-btn-hero-base);
    transition: background-color 0.2s linear;
  }

  .hero__btn:focus {
    background-color: var(--fill-btn-hero-focus);
    outline: 1px solid black;
  }

  .hero__btn:hover {
    background-color: var(--fill-btn-hero-hover);
  }

  .hero__btn:active {
    background-color: var(--fill-btn-hero-active);
  }

  /* about */
  .about {
    min-height: 943px;
    margin-bottom: calc(var(--gap-section) + 50px);
  }

  .about__container {
    width: 100%;
    flex-direction: column;
    /* outline: 1px solid blue; */
  }

  .about__text {
    flex-direction: column;
    width: calc(1235 * 100% / 1770);
    min-height: 321px;
    padding: 0 10px 50px 0;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__benefits {
    width: 100%;
    min-height: 622px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }

  .big-block-img {
    display: none;
  }

  .about__big-block {
    width: calc(868 * 100% / 1770);
    min-height: 100%;
    border-radius: var(--block-radius);
    background-image: url(../img/about-benefits-left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* outline: 1px solid red; */
  }

  .big-block__descr {
    width: 100%;
    min-height: 196px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    border-radius: var(--block-radius);
    justify-content: space-between;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }


  .big-block__text {
    /* padding-right: 160px; */
    width: calc((433 + 100) * 100% / 868);
    min-height: 96px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: inherit;
  }

  .about__btn {
    padding: 17px 35px;
    color: inherit;
    background-color: var(--fill-btn-about-base);
    border: 3px solid var(--color-btn-border-base);
    transition: background-color 0.2s linear, border 0.2s linear;
  }

  .about__small-blocks {
    width: calc(870 * 100% / 1770);
    min-height: 100%;
    justify-content: space-between;
    flex-direction: column;
    /* outline: 1px solid red; */
  }

  .about__small-block {
    min-height: 295px;
    padding: 64px 117px 64px 59px;
    border-radius: var(--block-radius);
    border: 1px solid #CACACA;
    /* outline: 1px solid #CACACA; */
  }


  .about__small-block:not(:last-child) {
    margin-bottom: var(--gap);
  }

  .benefits-logo {
    position: relative;
    width: 190px;
    height: 165px;
    flex-shrink: 0;
    /* outline: 1px solid blueviolet; */
  }

  .benefits-circle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(120 * 100% / 190);
    height: calc(120 * 100% / 165);
    background-color: #FF9900;
    border-radius: 100%;
  }

  .logo-2 .benefits-circle {
    width: calc(128 * 100% / 190);
    height: calc(128 * 100% / 165);
  }

  .benefits-cube {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(119 * 100% / 190);
    height: calc(132 * 100% / 165);
    /* outline: 1px solid black; */
  }

  .benefits-star {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(135.2 * 100% / 190);
    height: calc(135.2 * 100% / 165);
    /* outline: 1px solid black; */
  }


  .small-block__text {
    padding-left: 50px;
  }

  .small-block__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
    color: #000;
  }

  .about__btn:focus {
    border: 3px solid var(--fill-btn-about-focus);
    background-color: var(--fill-btn-about-focus);
  }

  .about__btn:hover {
    border: 3px solid var(--fill-btn-about-hover);
    background-color: var(--fill-btn-about-hover);
  }

  .about__btn:active {
    border: 3px solid var(--fill-btn-about-active);
    background-color: var(--fill-btn-about-active);
  }


  /* work */
  .work {
    min-height: 646px;
    width: 100%;
    margin-bottom: calc(var(--gap-section) + 50px);
    /* outline: 1px solid yellow; */
  }

  .work__title {
    margin-bottom: 50px;
  }

  .work__items {
    margin-bottom: 46px;
  }

  .work__item {
    display: inline-block;
  }

  .work__item:not(:last-child) {
    margin-right: 81px;
  }

  .work__item-link {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-step-base);
    outline: none;
    transition: color 0.2s linear;
  }

  .work__item-link--active {
    color: var(--color-step-active);
  }

  .work__item-link::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid var(--color-line-focus);
    outline: none;
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  .work__item-link:focus {
    color: var(--color-step-focus);
  }

  .work__item-link:focus::after {
    opacity: 1;
  }

  .work__item-link:hover {
    color: var(--color-step-hover);
  }

  .work__item-link:active {
    color: var(--color-step-active);
  }

  .work__how {
    justify-content: space-between;
    width: 100%;
    min-height: 460px;
  }

  .work__how-text {
    /* width: 773px; */
    width: calc(773 * 100% / 1770);
    flex-direction: column;
    padding-right: 15px;
  }

  .work__sub-title {
    margin-bottom: 8px;
  }

  .work__descr {
    flex: 1 1 auto;
    padding-bottom: 15px;
    min-width: 100%;
  }

  .work__text-step {
    display: none;
  }

  .work__text-step--active {
    display: block;
  }

  .work__img {
    width: calc(870 * 100% / 1770);
    min-height: 100%;
  }

  .work__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--block-radius);
  }


  .work__btn-more {
    color: var(--color-btn-text);
    background-color: var(--fill-btn-more-base);
    padding: 20px 38px;
    margin-right: 28px;
    transition: background-color 0.2s linear;
  }

  .work__btn-more:focus {
    background-color: var(--fill-btn-more-focus);
    outline: 1px solid black;
  }

  .work__btn-more:hover {
    background-color: var(--fill-btn-more-hover);
  }

  .work__btn-more:active {
    background-color: var(--fill-btn-more-active);
  }

  .work__btn-treaty {
    color: var(--color-btn-treaty-base);
    background-color: var(--fill-btn-treaty-base);
    padding: 19px 37px;
    border: 1px solid #000;
    transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;
  }

  .work__btn-treaty:focus {
    color: var(--color-btn-text);
    border-color: var(--fill-btn-treaty-focus);
    background-color: var(--fill-btn-treaty-focus);
  }

  .work__btn-treaty:hover {
    color: var(--color-btn-text);
    border-color: var(--fill-btn-treaty-hover);
    background-color: var(--fill-btn-treaty-hover);
  }

  .work__btn-treaty:active {
    color: var(--color-btn-text);
    border-color: var(--fill-btn-treaty-active);
    background-color: var(--fill-btn-treaty-active);
  }

  /* faq */
  .faq {
    min-height: 658px;
    padding-top: 11px;
    margin-bottom: 100px;
    outline: none;
  }

  .faq__title {
    margin-bottom: 32px;
  }

  .faq__list {
    flex-direction: column;
  }

  .faq__item {
    width: 100%;
    min-height: 111px;
    outline: none;
    border-top: 1px solid #CACACA;
    transition: border-color 0.2s linear;
  }

  .faq__item-ac {
    cursor: pointer;
    min-height: 111px;
    align-items: center;
  }

  .faq__item:last-child {
    border-bottom: 1px solid #CACACA;
    transition: border-color 0.2s linear;
  }

  .faq__link {
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    transition: color 0.2s linear;
    outline: none;
    margin-right: 10px;

    align-items: center;
    min-height: 111px;
    justify-content: space-between;
  }

  .faq__circle {
    flex: 0 0 auto;
    cursor: pointer;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--fill-faq-icon-base);
    transition: background-color 0.5s linear, transform 0.5s linear;
  }

  .faq__circle::before,
  .faq__circle::after {
    cursor: pointer;
    content: "";
    position: absolute;
    left: 10px;
    bottom: 24px;
    height: 1px;
    width: 31px;
    background-color: var(--color-faq-icon-base);
    transition: background-color 0.5s linear;
  }

  .faq__circle::after {
    left: 24px;
    bottom: 10px;
    height: 31px;
    width: 1px;
  }

  .faq__link-text {
    padding-bottom: 40px;
  }

  .faq__icon-activ {
    fill: var(--color-faq-icon-active);
    display: none;
    transition: display 0.2s linear;
  }

  .faq__icon-activ ellipse {
    fill: var(--fill-faq-icon-active);
  }

  .faq__link:focus {
    color: var(--fill-faq-icon-focus);
  }

  .faq__link:focus .faq__circle::after {
    background-color: var(--color-faq-icon-focus);
  }

  .faq__link:focus .faq__circle::before {
    background-color: var(--color-faq-icon-focus);
  }

  .faq__link:focus .faq__circle {
    background-color: var(--fill-faq-icon-focus);
  }

  .faq__link:focus>.faq__item {
    border-color: var(--fill-faq-icon-focus);
  }

  .faq__item:focus-within {
    border-color: var(--fill-faq-icon-focus);
  }

  .faq__item:focus-within+.faq__item {
    border-color: var(--fill-faq-icon-focus);
  }

  .faq__item:focus-within:nth-last-child(2)+.faq__item {
    border-bottom: 1px solid #CACACA;
  }


  .faq__item:hover .faq__link {
    color: var(--fill-faq-icon-hover);
  }

  .faq__item:hover {
    border-color: var(--fill-faq-icon-hover);
  }

  .faq__item:hover+.faq__item {
    border-color: var(--fill-faq-icon-hover);
  }

  .faq__item:hover:nth-last-child(2)+.faq__item {
    border-bottom: 1px solid #CACACA;
  }


  .faq__item:hover .faq__circle::before {
    background-color: var(--color-faq-icon-hover);
  }

  .faq__item:hover .faq__circle::after {
    background-color: var(--color-faq-icon-hover);
  }


  .faq__item:hover .faq__circle {
    background-color: var(--fill-faq-icon-hover);
  }

  .faq__item:active {
    border-color: var(--color-faq-icon-active);
  }

  .faq__item:active .faq__link {
    color: var(--color-faq-icon-active);
  }

  .faq__item:active+.faq__item {
    border-color: var(--color-faq-icon-active);
  }

  .faq__item:active:nth-last-child(2)+.faq__item {
    border-bottom: 1px solid #CACACA;
  }

  .faq__item:active .faq__icon-activ {
    display: block;
  }

  .ac.is-active .faq__circle {
    transform: rotate(45deg);
  }

  /* footer */
  .footer {
    min-height: 594px;
    background-color: #000;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 75px;
    padding-right: 75px;
    justify-content: space-between;
    align-items: stretch;
  }

  .footer__left {
    /* flex-basis: 22%; */
    flex-basis: 252px;
    flex-shrink: 0;
    min-height: 100%;
    flex-direction: column;
  }

  .footer__center {
    /* flex-basis: 33%; */
    flex-basis: 570px;
    flex-shrink: 0;
    min-height: 100%;
    /* padding-right: 15px; */
  }

  .footer__right {
    /* flex-basis: 21%; */
    flex-basis: 363px;
    padding-left: 9px;
    min-height: 100%;
    align-items: center;
  }

  .footer__logo {
    width: 224px;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 20px;
    /* outline: 1px solid red; */
  }

  .footer__logo-img {
    position: relative;
    height: 100%;
    width: calc(38.12 * 100% / 224);
    /* outline: 1px solid blue; */

  }

  .footer__logo-text {
    position: relative;
    width: calc(173.63 * 100% / 224);
    height: calc(42.67 * 100% / 72);
    /* outline: solid 1px red; */
  }

  .footer__logo:focus {
    border: 1px solid var(--color-btn-border-base);
  }

  .footer__nav {
    flex: 1 1 auto;
  }

  .footer__nav-item:last-child {
    padding-bottom: 15px;
  }

  .footer__nav-link {
    position: relative;
    color: var(--color-footer-link-base);
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    outline: none;
    transition: color 0.2s linear;
  }

  .footer__nav-link::after {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--color-line-focus);
    outline: none;
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  .footer__nav-link:focus {
    color: var(--color-footer-link-focus);
  }

  .footer__nav-link:focus::after {
    opacity: 1;
  }

  .footer__nav-link:hover {
    color: var(--color-footer-link-hover);
  }

  .footer__nav-link:active {
    color: var(--color-footer-link-active);
  }

  .footer__social-link {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    outline: none;
  }

  .footer__social-link:not(:last-child) {
    margin-right: 25px;
  }

  .footer__social-link svg {
    border-radius: 100%;
    /* background-color: #fff; */
    background-color: transparent;
    fill: var(--fill-footer-social-base);
    transition: fill 0.2s linear;
  }

  .footer__social-link::after {
    cursor: pointer;
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid var(--color-line-focus);
    outline: none;
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  .footer__social-link:focus::after {
    opacity: 1;
  }

  .footer__social-link:hover svg {
    fill: var(--fill-footer-social-hover);
    background-color: #fff;
  }

  .footer__social-link:active svg {
    fill: var(--fill-footer-social-active);
    background-color: #fff;
  }

  .footer__center-group {
    border: none;
  }

  .footer__center-legend {
    /* color: white; */
    opacity: 0;
  }

  .form {
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .footer__request-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58.5px;
    color: #CACACA;
    margin-bottom: 25px;
  }

  .form__input {
    min-width: 100%;
    background-color: var(--fill-input-base);
    color: var(--color-input-base);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    border: none;
    border-radius: 16px;
    padding-left: 24px;
    outline: none;
    transition: color 0.2s linear, background-color 0.2s linear;
  }

  .form__input:focus {
    color: var(--color-input-focus);
    background-color: var(--fill-input-focus);
  }

  .form__input:hover {
    color: var(--color-input-hover);
    background-color: var(--fill-input-hover);
  }

  .form__input:active {
    color: var(--color-input-active);
    background-color: var(--fill-input-active);
  }

  .form__input:not(:nth-last-child(2)) {
    margin-bottom: 25px;
  }

  .input-fio,
  .input-email {
    min-height: 60px;
  }

  .input-textarea {
    min-height: 150px;
    padding-top: 14px;
    margin-bottom: 32px;
  }

  .form__send {
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
  }

  .form__btn {
    flex-shrink: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    padding: 19px 52px;
    color: #fff;
    background-color: var(--fill-input-btn-base);
    transition: background-color 0.2s linear;
  }

  .form__btn:focus {
    background-color: var(--fill-input-btn-focus);
    outline: 1px solid white;
  }

  .form__btn:hover {
    background-color: var(--fill-input-btn-hover);
  }

  .form__btn:active {
    background-color: var(--fill-input-btn-active);
  }

  .form__checkbox {
    display: none;
  }

  .form__checkbox-label {
    cursor: pointer;
    position: relative;
    color: #CACACA;
    font-weight: 400;
    font-size: 16px;
    margin-left: 30px;
  }

  .form__checkbox-label::before {
    cursor: pointer;
    content: " ";
    color: #000;
    position: absolute;
    left: -20px;
    top: 2px;
    width: 14px;
    height: 14px;
    background: transparent;
    border: 1px solid #CACACA;
    border-radius: 2px;
    flex-shrink: 0;
  }

  .form__checkbox:checked+.form__checkbox-label::before {
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
  }


  .footer__right-descr {
    color: #CACACA;
  }
